
<mat-card>
  <mat-card-title>Iniciar sesión</mat-card-title>
  <mat-card-content>
    <p>
      <mat-form-field>
        <input type="email" name="email" [(ngModel)]="email" matInput placeholder="Ingrese su correo">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input type="password" name="password" [(ngModel)]="password" matInput placeholder="Ingrese su contraseña">
      </mat-form-field>
    </p>
    <div>
      <button mat-raised-button color="primary" (click)="login()">Iniciar sesión</button>
    </div>
  </mat-card-content>
</mat-card>
